<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="Update movies" type="bool" id="update_movies" default="true"/>
        <setting label="Update TV shows" type="bool" id="update_tvshows" default="true"/>
        <setting label="Update interval (days)" type="number" id="update_interval" default="1"/>
        <setting label="Only movies from last X years" type="number" id="movie_years_back" default="2"/>
        <setting label="Only TV shows aired in last X months" type="number" id="tvshow_months_back" default="6"/>
        <setting label="Use IMDb" type="bool" id="use_imdb" default="true"/>
        <setting label="Use Trakt" type="bool" id="use_trakt" default="false"/>
        <setting id="last_completion" type="text" default="" visible="false"/>
    </category>
</settings> 